.btn {
  border: 2px solid burlywood;
  background: burlywood;
  font-size: 18px;
  margin-left: 20px;
  padding: 6px 15px;
  border-radius: 5px;
  transition: all .3s ease;
  cursor: pointer;
}

.btn:hover {
  background: transparent;
}