.list {
  padding: 0;
  list-style: none;
}

.header {
  margin: 0 0 25px;
}

.item {
  padding: 10px;
  background: rgb(233, 233, 171);
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 10px;
}

.item:last-child {
  margin-bottom: 0;
}